 :root {
    --background-color: #DFF6FF;
    --background-color2:#DEB6AB;
    --main-color1:#114E60;
    --main-color2:#325288;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'quicksand', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
display: flex;
}

#index nav {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;

    


}

#index nav ul{
    display: flex;
    align-items: center;
    gap: 90px;
    position: relative;
    left: -6vw;
}
#index nav li{
    list-style: none;
    margin: 5px;
}
#index nav a{
    text-decoration: none;
    color: var(--main-color2);
    font-weight: 900;
}
#index nav img{
    width: 150px;
    margin: -30px;
    opacity: 90%;
}
#index .signin{
    display: flex;
    justify-content: end;
    position: absolute;
    left: 80vw;
}

#index .signin a{
    margin: 10px;
    padding:8px 30px;
    background-color: var(--main-color2);
    color: var(--background-color);
    border-radius: 15px;
    font-size: 14px;
    opacity: 80%;
}

#index .hero .row-1{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index .hero h1{
    letter-spacing: 8px;
    font-size: 45px;
    color: var(--main-color2);
    font-weight: 800;
    margin-top: 110px;
}

#index .hero h3{
    letter-spacing: 25px;
    font-size: 30px;
    color: var(--main-color1);
    font-weight:500;
}
#index .hero h3 span{
    font-weight: 900;
}

#index .mainobject {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
#index .background {
    width: 344px;
    height: 399px;
    background-color: none;
    border: 1px solid var(--main-color2);
    border-radius: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#index .mainobject img {
    width: 284px;
    height: 369px;
    border-radius:  200%;
}
#index .mainobject button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 39vw;
    top: 73vh;
    font-size: 40px;
    border: none;
    background-color: var(--main-color2);
    font-weight: 600;
    color: var(--background-color);
}
#index .arrow{
    width: 170px;
    height: 150px;
    position: absolute;
    left: 27vw;
    transform: rotate(187deg);
    top: 58vh;
    background-color: transparent;
}

#index p{
    position: absolute;
    top: 55vh;
    left: 23vw;
    font-size: 20px;
    background-color: transparent;
    transform: rotate(-10deg);
    font-weight: 700;
    color: var(--main-color2);
    text-align: center;
}

#index p span{
    color: var(--main-color1);
}

#index .left-row-atas{
    width: 25vw;
    height: 10vh;
    display: flex;
    position: absolute;
    top: 35vh;
    left: 25vh;
    margin: 20px;
    gap: 20px;
    background-color: transparent;
}

#index .left-row-atas img{
    width: 75px;
    opacity: 70%;
}
#index .left-row-atas h3{
    font-weight: 800;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
}
#index .left-row-atas h5{
    font-weight: 700;
    font-size: 16px;
    word-spacing: 6px;
    color: var(--main-color2);
}
#index .left-row-bawah{
    display: flex;
}
#index .left-row-bawah img{
    width: 150px;
    opacity: 100%;
    position: absolute;
    top: 37vh;
    left: 3vw;
    border-radius: 50%;
}
#index .left-row-bawah p{
    transform: rotate(0deg);
    position: absolute;
    left: -4vw;
    top: 45vh;
    text-align: end;
}

#index .right-row-atas{
    display: flex;
}
#index .right-row-atas img{
    width: 150px;
    opacity: 100%;
    position: absolute;
    top: 32vh;
    left: 65vw;
    border-radius: 50%;
}
#index .right-row-atas p{
    transform: rotate(0deg);
    position: absolute;
    left: 76vw;
    top: 36vh;
    text-align: start;
}

#index .right-row-tengah{
    width: 250px;
    height: 300px;
    left: 59vw;
    top: 63vh;
    position: absolute;
    background-color: transparent;
 
}

#index .right-row-tengah h4{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: transparent;
    color: var(--main-color2);
    line-height: 40px;
}
#index .right-row-tengah h4 span{
    background-color: transparent;
    color: var(--main-color1);
}
#index .right-row-tengah .garis {
    width: 10vw;
    height: 2px;
    background-color: var(--main-color2);
    margin-left: 25px;
}
#index .right-row-bawah {
    width: 280x;
    height: 300px;
    left: 73vw;
    top: 63vh;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#index .right-row-bawah img{
    width: 67px;
    background-color: transparent;
    opacity: 80%;
}
#index .right-row-bawah h2{
    text-align: end;
    color: var(--main-color2);
}
#index .right-row-bawah h2 span{
    color: var(--main-color1);
}

/* tampilan awal */


#TA .row-kanan{
    top: 5vh;
    width: 40vw;
    height: 90vh;
    position: absolute;
    left: 51vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TA .row-kanan img {
    width: 51rem;
}

#TA .card1 {
    width: 170px;
    height: 200px;
    background-color: #FFFCF4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -3vw;
    top: 45vh;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(210,157,157,0.25);
    z-index: 1;
}
#TA .card1 img {
    width: 135px;
    background-color: transparent;
    border-radius: 5px;
}

#TA .card1-text {
    text-align: start;
    background-color: transparent;
    margin-top: 10px;
    line-height: 16px;
    color: var(--main-color1);
    margin-left: -30px;
}
#TA .row-kanan p{
    font-size: 10px;
    background-color: transparent;
    font-weight: 300;
}
#TA .row-kanan h6{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    font-weight: 800;

}
#TA .card2 {
    width: 170px;
    height: 200px;
    background-color: #FFFCF4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 28vw;
    top: 5vh;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(210,157,157,0.25);
}

#TA .card2-text {
    text-align: start;
    background-color: transparent;
    margin-top: 10px;
    line-height: 16px;
    color: var(--main-color1);
    margin-left: 10px;
}


#TA .card2 img {
    width: 135px;
    border-radius: 5px;
}

#TA .card3 {
    width: 170px;
    height: 200px;
    background-color: #FFFCF4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 32vw;
    top: 58vh;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(210,157,157,0.25);

}

#TA .card3-text {
    text-align: start;
    background-color: transparent;
    margin-top: 10px;
    line-height: 16px;
    color: var(--main-color1);
    margin-left: 10px;
    margin-left: -50px;
}


#TA .card3 img {
    width: 130px;
    border-radius: 5px;
}

#TA .row-kiri{
    position: absolute;
    left: -44vw;
    top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: transparent;
}

#TA .row-kiri .text1{
    display: flex;
    align-items: center;
    gap: 5px;
}
#TA .row-kiri .text1 .line{
    width: 5vw;
    height: 2px;
    background-color: var(--main-color1);
}
#TA .row-kiri .text1 p{
    font-size: 16px;
    color: var(--main-color1);
}
#TA .text2 h1{
    font-size: 70px;
    line-height: 85px;
    margin-top: -20px;
    font-weight: 900;
    color: var(--main-color1);
    background-color: transparent;
}
#TA .text2 h1 span{
    color: var(--main-color2);
    background-color: transparent;
}
#TA .text3 p {
    font-size: 20px;
    line-height: 25px;
    margin-left: 20px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: var(--main-color1);
    
}

#TA .btn {
    width: 400px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-left: -50px;
}

#TA .btn a {
    text-decoration: none;
}

#TA .btn-1 {
    background-color: var(--main-color2);
    color: white;
    padding: 10px 20px;
    border-radius: 17px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

#TA .btn-2 {
    background-color: transparent;
    border: 1px solid  rgba(210,157,157,0.25);
    color: var(--main-color2);
    padding: 10px 40px;
    border-radius: 17px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}


.judul{
    display: flex;
    width: 900px;
    margin: auto;
    border-radius: 15px;
    margin-top: 10px;
}

.judul h2{
    margin-left: 30px;
    margin: auto;
    color: #114E60;
    font-weight: 500;
    font-size: 60px;
    font-family:  'Poppins', sans-serif;
    letter-spacing: 10px;
}

/* best seller */

.best-seller{
    margin-top: 150px;
}
.judul-lagoon h2{
    font-weight: 400;
    color: #114E60;
    margin-top: 35px;
    font-family: 'quicksand';
    font-size: 40px;
    margin-bottom: 0px;
    width: 800px;
    position: relative;
    left: 5.5vw;
}

.gambar-lagoon img{
    margin-top: 0px;
    margin-left: 100px;
    border-radius: 200%;
}

.judul-lagoon{
    display: flex;
    height: 130px;
}

.judul-lagoon img{
    margin-left: 473px;
    width: 87px;
    height: 87px;
    margin-top: 30px;
}

.gambar-lagoon img:nth-child(2){
    margin-left: 430px;
    position: absolute;
    margin-top: 150px;
}

.judul-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #114E60;
    letter-spacing: 10px;
    font-weight: 500;
    margin-bottom: 0px;
}

.judul-text h3{
    margin-top: 0px;
    font-size: 25px;
    font-family: 'Poppins';
    color: #114E60;
    font-weight: 300;
}

.judul-text{
    margin-top: 35vh;
    margin-left: 60vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 20px;

}
.logonih{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 75vw;

}

.judul-lagoon h2{
    font-size: 45px;
    margin-left: 20px;
    font-weight: 500;
    margin-top: 40px;
    font-family: 'poppins';
}

.gambar-lagoon{
    display: flex;
}

.textlagoon {
    position: absolute;
    margin-top: 45px;
    margin-left: 430px;
    font-family: 'quicksand';
    color: #114E60;
    font-size: 17px;
    font-weight: 400;
    width: 420px;
    letter-spacing: 1px;
}

.gambar-lagoon h2{
    font-family: 'sacramento';
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: #114E60;
}

.cakeall a{
    position: absolute;
    margin-top: 150px;
    margin-left: 790px;
    text-decoration: none;
    color: white;
    background-color: #114E60;
    font-size: 26px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-family: 'quicksand';
    font-weight: 600;
}


.textgambar-lava h2{
    font-family: "poppins";
    letter-spacing: 10px;
    font-size: 40px;
    margin-left: 30px;
    color: #114E60;
    margin-top: 10px;
    margin-bottom: 0px;
}

.harga h3{
    margin-top: px;
    margin-left: 190px;
    color: #114E60;
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 17px;
}

.text-cake-lava{
    margin-top: 220px;
}

.harga h4{
    margin-top: px;
    margin-left: 410px;
    color: #114E60;
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 17px;
}

.rec-product {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}
.title-rp {
    background-color: pink;
    width: 100%;
    height: 90px;
}
.title-rp p {
    position: absolute;
    color: var(--main-color2);
    /* background-color: pink; */
    width: 100%;
    height: 50px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}
.title-rp h1 {
    position: absolute;
    color: var(--main-color1);
    margin-top: 45px;
    width: 100%;
    height: 50px;
    letter-spacing: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.title-rp span {
    background-color: transparent;
    font-weight: 1000;
}
.rec-pro {
    /* background-color: purple; */
    width: 100%;
    height: 70px;
    margin-top: -10px;
}
.rec-pro .garis {
    background-color: var(--main-color1);
    width: 30%;
    height: 45px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 545px;
}
.rec-pro .garis p {
    background-color: transparent;
    color: var(--background-color);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.rec-pro .garis p i {
    background-color: transparent;
    margin-left: 15px;
}

.wrapper{
    display: flex;
    width: 90%;
    gap: 2rem;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 100px;
    overflow: scroll;
    margin-left: 70px;
}

.chart {
    /* background-color: plum; */
    width: 20%;
    height: 400px;
    margin-top: 10px;
    /* box-sizing: border-box; */
    /* overflow: scroll; */
    display: flex;
    /* margin-bottom: 180px; */
    position: relative;
    /* left: 150px; */
    
    
}
.chart .c-1{
    background-color: #114d6053;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    /* box-sizing: border-box; */
}
.nama {
    background-color: #114d6053;
    width: 90%;
    height: 50px;
    margin: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ck {
    background-color: #114d6053;
    width: 75%;
    height: 35px;
    border-radius: 5px;
}
.ck p {
    background-color: transparent;
    font-size: 20px;
    font-weight: 900;
    color: var(--background-color);
    text-align: center;
    margin-top: 4px;
}
.ker {
    background-color: #114d6053;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin-left: 2%;
}
.ker i {
    background-color: transparent;
    display: flex;
    margin-left: 9px;
    margin-top: 10px;
    color: var(--background-color);
}
.ker:hover {
    background-color: var(--main-color1);
}
.gambar {
    /* background-color: black; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 22%;
}
.gambar img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.harga {
    background-color: transparent;
    margin-top: 10px;
    height: 50px;
    display: flex;
}
.harga-1, .harga-2 {
    background-color: #114d60ae;
    height: 70%;
    width: 47%;
    margin-left: 5px;
    border-radius: 10px;
}
.harga-1 p {
    background-color: transparent;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: yellow;
}
.harga-2 p, .harga-2 s {
    background-color: transparent;
    font-weight: 900;
    text-align: center;
    margin-top: 7px;
    color: var(--background-color);
}
.buy {
    background-color: #114d607c;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: -5px;
    border-radius: 10px;
}
.buy p {
    background-color: transparent;
    color: var(--background-color);
    text-align: center;
    font-size: 19px;
    padding-top: 5px;
    font-weight: 900;
}
.buy:hover{
    background-color: #114E60;
}







/* FAQ */

.faq {
    background-color: var(--background-color);
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    margin-top: 10px;
}
.faq-kiri {
    width: 50%;
    background-color: transparent;
    margin-left: 50px;
    /* background-color: yellow; */
}
.faq-kiri .judul-faq {
    height: 30%;
    width: 100%;
    background-color: transparent;
    /* background-color: navajowhite; */
    box-sizing: border-box;
}
.judul-faq .bg {
    height: 100%;
    width: 70%;
    background-color: #3252881f;
    border-radius: 50%;
    transform: rotate(-8deg);
    margin-top: -30px;
    margin-left: 90px;
}
.bg h1 {
    /* background-color: blue; */
    color: var(--main-color2);
    transform: rotate(8deg);
    width: 100px;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    margin-left: 130px;
    padding-top: 20px;
    background-color: transparent;
}
.bg p {
    transform: rotate(8deg);
    font-family: 'quicksand', sans-serif;
    margin-left: 90px;
    font-size: 20px;
    font-weight: 800;
    color: var(--main-color2);
    background-color: transparent;
    margin-top: -1px;
}

.faq-kanan {
    width: 50%;
    /* background-color: plum; */
    background-color: transparent;
    margin-left: 30px;
    margin-top: -15px;
}






input[type='checkbox'] {
    display: none; 
   } 
 
 .wrap-collabsible { 
   margin: 1.2rem 0; 
 } 
 
 .lbl-toggle { 
   display: block; 
   font-weight: bold; 
   font-family: 'Poppins', sans-serif;
   font-size: 1.2rem; 
   text-transform: uppercase; 
   text-align: center; 
   padding: 1.7rem; 
   color: #DDD; 
   background: #325288da; 
   cursor: pointer; 
   border-radius: 7px; 
   transition: all 0.25s ease-out; 
   width: 625px;
   
 } 
   
 .lbl-toggle:hover { 
   color: #FFF; 
 } 
 
 .lbl-toggle::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
 } 
 
 .toggle:checked+.lbl-toggle::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out; 
   width: 625px;
 } 
 
 .toggle:checked + .lbl-toggle + .collapsible-content { 
   max-height: 350px; 
 } 
 .toggle:checked + .lbl-toggle + .collapsible-content { 
   max-height: 350px; 
 } 
 .toggle:checked + .lbl-toggle + .collapsible-content { 
   max-height: 350px; 
 } 
 
 .toggle:checked+.lbl-toggle { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
 } 
 
 .collapsible-content .content-inner { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
 } 
 .collapsible-content .content-inner { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
 } 
 .collapsible-content .content-inner { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
 } 
 
 .collapsible-content p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
 }
 
  /* 
   */
 
 
 
 
 
   input[type='checkbox'] {
     display: none; 
    } 
  
  .wrap-collabsible2 { 
    margin: 1.2rem 0; 
  } 
  
  .lbl-toggle2 { 
    display: block; 
   font-weight: bold; 
   font-family: 'Poppins', sans-serif;
   font-size: 1.2rem; 
   text-transform: uppercase; 
   text-align: center; 
   padding: 1.7rem; 
   color: #DDD; 
   background: #325288da; 
   cursor: pointer; 
   border-radius: 7px; 
   transition: all 0.25s ease-out; 
   width: 625px;
  } 
    
  .lbl-toggle2:hover { 
    color: #FFF; 
  } 
  
  .lbl-toggle2::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
  } 
  
  .toggle2:checked+.lbl-toggle2::before { 
    transform: rotate(90deg) translateX(-3px);
   } 
   
   .collapsible-content2 { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out;  
    width: 625px;
  } 
  
  .toggle2:checked + .lbl-toggle2 + .collapsible-content2 { 
    max-height: 350px; 
  } 
 
  
  .toggle2:checked+.lbl-toggle2 { 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content2 .content-inner2 { 
    background: rgba(0, 105, 255, .2); 
    border-bottom: 1px solid rgba(0, 105, 255, .45); 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: .5rem 1rem; 
  } 
 
  
  .collapsible-content2 p { 
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
  }
 
 
 
 
 
  input[type='checkbox'] {
   display: none; 
  } 
 
 .wrap-collabsible3 { 
  margin: 1.2rem 0; 
 } 
 
 .lbl-toggle3 { 
    display: block; 
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 625px;
 } 
  
 .lbl-toggle3:hover { 
  color: #FFF; 
 } 
 
 .lbl-toggle3::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
 } 
 
 .toggle3:checked+.lbl-toggle3::before { 
  transform: rotate(90deg) translateX(-3px);
 } 
 
 .collapsible-content3 { 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .25s ease-in-out;  
  width: 625px;
 } 
 
 .toggle3:checked + .lbl-toggle3 + .collapsible-content3 { 
  max-height: 350px; 
 } 
 
 
 .toggle3:checked+.lbl-toggle3 { 
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
 } 
 
 .collapsible-content3 .content-inner3 { 
  background: rgba(0, 105, 255, .2); 
  border-bottom: 1px solid rgba(0, 105, 255, .45); 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px; 
  padding: .5rem 1rem; 
 } 
 
 .collapsible-content3 p { 
  margin-bottom: 0; 
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
 }
 


 
 
 input[type='checkbox'] {
   display: none; 
  } 
 
 .wrap-collabsible4 { 
  margin: 1.2rem 0; 
 } 
 
 .lbl-toggle4 { 
    display: block; 
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 625px;
 } 
  
 .lbl-toggle4:hover { 
  color: #FFF; 
 } 
 
 .lbl-toggle4::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
 } 
 
 .toggle4:checked+.lbl-toggle3::before { 
  transform: rotate(90deg) translateX(-3px);
 } 
 
 .collapsible-content4 { 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .25s ease-in-out;  
  width: 625px;
 } 
 
 .toggle4:checked + .lbl-toggle4 + .collapsible-content4 { 
  max-height: 350px; 
 } 
 
 
 .toggle4:checked+.lbl-toggle4 { 
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
 } 
 
 .collapsible-content4 .content-inner4 { 
  background: rgba(0, 105, 255, .2); 
  border-bottom: 1px solid rgba(0, 105, 255, .45); 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px; 
  padding: .5rem 1rem; 
 } 
 
 .collapsible-content4 p { 
  margin-bottom: 0; 
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
 }

 


 
 input[type='checkbox'] {
    display: none; 
   } 
  
  .wrap-collabsible5 { 
   margin: 1.2rem 0; 
  } 
  
  .lbl-toggle5 { 
    display: block;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 630px;
  } 
   
  .lbl-toggle5:hover { 
   color: #FFF; 
  } 
  
  .lbl-toggle5::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
  } 
  
  .toggle5:checked+.lbl-toggle5::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content5 { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out;  
   width: 630px;
  } 
  
  .toggle5:checked + .lbl-toggle5 + .collapsible-content5 { 
   max-height: 350px; 
  } 
  
  
  .toggle5:checked+.lbl-toggle5 { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content5 .content-inner5 { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
  } 
  
  .collapsible-content5 p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
  }




  input[type='checkbox'] {
    display: none; 
   } 
  
  .wrap-collabsible6 { 
   margin: 1.2rem 0; 
  } 
  
  .lbl-toggle6 { 
   display: block;
   font-weight: bold; 
   font-family: 'Poppins', sans-serif;
   font-size: 1.2rem; 
   text-transform: uppercase; 
   text-align: center; 
   padding: 1.7rem; 
   color: #DDD; 
   background: #325288da; 
   cursor: pointer; 
   border-radius: 7px; 
   transition: all 0.25s ease-out; 
   width: 630px;
  } 
   
  .lbl-toggle6:hover { 
   color: #FFF; 
  } 
  
  .lbl-toggle6::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
  } 
  
  .toggle6:checked+.lbl-toggle6::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content6 { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out; 
   width: 630px;
  } 
  
  .toggle6:checked + .lbl-toggle6 + .collapsible-content6 { 
   max-height: 350px; 
  } 
  
  
  .toggle6:checked+.lbl-toggle6 { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content6 .content-inner6 { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
  } 
  
  .collapsible-content6 p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
  }



  input[type='checkbox'] {
    display: none; 
   } 
  
  .wrap-collabsible7 { 
   margin: 1.2rem 0; 
  } 
  
  .lbl-toggle7 { 
    display: block;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 630px;
  } 
   
  .lbl-toggle7:hover { 
   color: #FFF; 
  } 
  
  .lbl-toggle7::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
  } 
  
  .toggle7:checked+.lbl-toggle7::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content7 { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out; 
   width: 630px;
  } 
  
  .toggle7:checked + .lbl-toggle7 + .collapsible-content7 { 
   max-height: 350px; 
  } 
  
  
  .toggle7:checked+.lbl-toggle7 { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content7 .content-inner7 { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
  } 
  
  .collapsible-content7 p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
  }



  input[type='checkbox'] {
    display: none; 
   } 
  
  .wrap-collabsible8 { 
   margin: 1.2rem 0; 
  } 
  
  .lbl-toggle8 { 
    display: block;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 630px;
  } 
   
  .lbl-toggle8:hover { 
   color: #FFF; 
  } 
  
  .lbl-toggle8::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
  } 
  
  .toggle8:checked+.lbl-toggle8::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content8 { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out; 
   width: 630px;
  } 
  
  .toggle8:checked + .lbl-toggle8 + .collapsible-content8 { 
   max-height: 350px; 
  } 
  
  
  .toggle8:checked+.lbl-toggle8 { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content8 .content-inner8 { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
  } 
  
  .collapsible-content8 p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
  }




  input[type='checkbox'] {
    display: none; 
   } 
  
  .wrap-collabsible9 { 
   margin: 1.2rem 0; 
  } 
  
  .lbl-toggle9 { 
    display: block;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 630px;
  } 
   
  .lbl-toggl9:hover { 
   color: #FFF; 
  } 
  
  .lbl-toggle9::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
  } 
  
  .toggle9:checked+.lbl-toggle9::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content9 { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out; 
   width: 630px;
  } 
  
  .toggle9:checked + .lbl-toggle9 + .collapsible-content9 { 
   max-height: 350px; 
  } 
  
  
  .toggle9:checked+.lbl-toggle9 { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content9 .content-inner9 { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
  } 
  
  .collapsible-content9 p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
  }



  input[type='checkbox'] {
    display: none; 
   } 
  
  .wrap-collabsible10 { 
   margin: 1.2rem 0; 
  } 
  
  .lbl-toggle10 { 
    display: block;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1.7rem; 
    color: #DDD; 
    background: #325288da; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    width: 630px;
  } 
   
  .lbl-toggl10:hover { 
   color: #FFF; 
  } 
  
  .lbl-toggle10::before { 
   content: ' '; 
   display: inline-block; 
   border-top: 5px solid transparent; 
   border-bottom: 5px solid transparent; 
   border-left: 5px solid currentColor; 
   vertical-align: middle; 
   margin-right: .7rem; 
   transform: translateY(-2px); 
   transition: transform .2s ease-out; 
  } 
  
  .toggle10:checked+.lbl-toggle10::before { 
   transform: rotate(90deg) translateX(-3px);
  } 
  
  .collapsible-content10 { 
   max-height: 0px; 
   overflow: hidden; 
   transition: max-height .25s ease-in-out; 
   width: 630px;
  } 
  
  .toggle10:checked + .lbl-toggle10 + .collapsible-content10 { 
   max-height: 350px; 
  } 
  
  
  .toggle10:checked+.lbl-toggle10 { 
   border-bottom-right-radius: 0; 
   border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content10 .content-inner10 { 
   background: rgba(0, 105, 255, .2); 
   border-bottom: 1px solid rgba(0, 105, 255, .45); 
   border-bottom-left-radius: 7px; 
   border-bottom-right-radius: 7px; 
   padding: .5rem 1rem; 
  } 
  
  .collapsible-content10 p { 
   margin-bottom: 0; 
   font-family: 'Poppins', sans-serif;
   background-color: transparent;
  }








/* footer */

.content {
    width: 100%;
    height: 300px;
    background-color: #F4EEE8;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 100px;
    position: relative;

}
.logo{
    position: relative;
    left: -4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 300px;
    margin-top: -45px;
    margin-left: -0px;
}

.copyright {
    display: flex;
    background-color: transparent;
}
.copyright img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    background-color: transparent;
    margin-left: -5px;
    font-weight: 400;
}
.copyright p{
    background-color: #F4EEE8;
}
.favors{
    margin-left: 100px;
    margin-top: 40px;
    background-color: transparent;
    position: relative;
    left: 5vw;
}
.favors p, ul li{
    background-color: transparent ;
}

.footer p {
    margin-left: 40px;
    font-weight: 700;
    color: var(--main-color2);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    background-color: transparent;
    margin-left: 0px;
}

.footer ul {
    background-color: transparent;
}
.footer ul li {
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    color: var(--main-color2);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 400;
    background-color: #F4EEE8;
}
.help-center{
    margin-left: 125px;
    position: relative;
    top: 40px;
    left: 8vw;
    background-color: transparent;
}
.best_seller{
    width: 200px;
    position: relative;
    left: 19vw;
    margin-top: 40px;
    background-color: transparent;
}
.best_seller p{
    background-color: transparent;
}
.logo{
    position: relative;
    left: 22vw;
    margin-top: 50px;
    background-color: transparent;
}
.sosmed {
    background-color: transparent;
    position: relative;
    left: -35vw;
    top: 29vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.sosmed ul {
    display: flex;
    background-color: transparent;
}
.sosmed ul li {
    background-color: transparent;
}
.sosmed ul li img {
    margin-left: 20px;
    margin-right: 20px;
    width: 35px;
    opacity: 70%;
    background-color: transparent;
}
